:root {
    color-scheme: light dark;
    --a-color: #999;
    --footer-border-color: #d5d5d5;
    --td-th-color: #dddddd;
    --paragraph-text-color: #333;
    --header-row-bg-color: #dddddd;
    --page-bg-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --a-color: #f6f6f6;
        --footer-border-color: #2a2a2a;
        --td-th-color: #222222;
        --paragraph-text-color: #fcfcfc;
        --header-row-bg-color: #222222;
        --page-bg-color: #000;
    }
}

body {
    margin: 60px auto;
    width: 70%;
    background-color: var(--page-bg-color);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: var(--a-color);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 2.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.3em;
    line-height: 1.5em;
    color: var(--paragraph-text-color);
}
p strong {
    font-size: 1.3em;
    line-height: 1.5em;
    color: var(--paragraph-text-color);
}
footer {
    border-top: 1px solid var(--footer-border-color);
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    font-size: 1.3em;
    line-height: 1.5em;
}
ul li {
    font-size: 1.3em;
    line-height: 1.5em;
}
ul li ul li {
    font-size: 1.0em;
    line-height: 1.2em;
}
ol.posts li {
    font-size: 1.3em;
    line-height: 1.5em;
}
ol li {
    font-size: 1.3em;
    line-height: 1.5em;
}
ol li ul li {
    font-size: 1.0em;
    line-height: 1.2em;
}
em {
    font-size: 1.3em;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--td-th-color);
    text-align: left;
    padding: 8px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

tr.heading {
    background-color: var(--header-row-bg-color);
}

th.heading {
    background-color: var(--header-row-bg-color);
}
