<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Overview</a></li>
				<li><a href="/programs">Programs</a></li>
				<li><a href="/career">Career Tracks</a></li>
				<!--<li><a href="/product_track">Product Career Track</a></li>
		        	<li><a href="/technical_track">Technical Career Track</a></li>
				<li><a href="/leadership_track">Leadership Career Track</a></li>
-->
				<li><a href="/faq">FAQ</a></li>
	        		<li><a href="/feedback">Feedback</a></li>
				<li><a href="https://osisoft1980.sharepoint.com/teams/Engineering" target="_blank">Engineering.Home</a></li>
				<li><a href="https://osisoft1980.sharepoint.com/teams/Product/SitePages/Home.aspx" target="_blank">Product.Home</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<!--<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>-->
			</footer>
		</body>
	</html>
